*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: rgba(241, 162, 175, 0.486);
}

a {
    text-decoration: none;
}

ul li{
    list-style: none;
}

img{
    max-width: 100%;
}

header {
    background-color: coral;
    color: rgb(242, 184, 194);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: black;
}

header nav ul{
    display: flex;
    gap: 1rem;
}

/* .lista-precios{
    display: flex;
    flex-direction: column;
}

.precios{
    display: flex;
} */

.precios{
    display: row;
    grid-template-columns: 3, 1fr;

}